@model CDUDB1INF272.Models.BorrowModel

@{
    ViewBag.Title = "BookInfo";
}

<h2>BookInfo</h2>

<div>
    <h4>BorrowModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TakenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TakenDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BroughtDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BroughtDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorrowedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorrowedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
