@model IEnumerable<CDUDB1INF272.Models.DestinationModel>
@{
    ViewBag.Title = "ComplexSearch";
}

<h2>ComplexSearch</h2>
@using (Html.BeginForm("ComplexSearch", "Home", FormMethod.Post, new { style = "width:100%" }))
{
    <input type="number" style="width:200px;max-width:none; display:inline" name="id" class="form-control" />
    //<input type="text" style="width:200px;max-width:none; display:inline" name="btype" class="form-control" placeholder="Type" required />
    //<input type="text" style="width:200px;max-width:none; display:inline" name="bauthor" class="form-control" placeholder="Author" required />

    <button type="submit" class="btn btn-primary" style="width:200px;display:inline">Search</button>

}


<a href="@Url.Action("Index", "Home")" style="width:200px;position: relative; display:inline;left:850px;top:-3px;background-color:green;color:white;">Clear</a>


<table class="table" id="t1">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Author</th>
        <th>Type</th>
        <th>Page Count</th>
        <th>Points</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var dest in Model)
    {
        <tr>
            <td>@dest.ID</td>
            <td>@dest.Name</td>
            <td>@dest.Author</td>
            <td>@dest.Type</td>
            <td>@dest.PageCount</td>
            <td>@dest.Points</td>
            <td>function needed</td>
            <td>buttons</td>


        </tr>
    }

</table>

