@model IEnumerable<CDUDB1INF272.Models.DestinationModel>

@{
    ViewBag.Title = "Index";
}
<h1 class="display-4">Index</h1>
<h3>@ViewBag.Message</h3>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th></th>
    </tr>

@foreach (var dest in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => dest.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => dest.Author)
        </td>
        <td>
            @Html.ActionLink("Update", "Update", new { id=dest.ID }) 
          
        </td>
    </tr>
}

</table>
