@model IEnumerable<CDUDB1INF272.Models.DestinationModel>
@{
    ViewBag.Title = "Index";
}
<h1 class="display-4">Index</h1>
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm("ComplexSearch", "Home", FormMethod.Post, new { style = "width:100%" }))
{
    <input type="text" style="width:200px;max-width:none; display:inline" name="bookname" class="form-control" placeholder="Book Name" />
    <span id="bauthor">@Html.DropDownList("Authors")</span>
    <span id="btype">@Html.DropDownList("Types")</span>

   
    <button type="submit" class="btn btn-success" style="width:200px;display:inline">Search</button>
    <button type="button" class="btn btn-danger" style="width:200px;display:inline" onclick="location.href='@Url.Action("Index", "Home")'">Clear</button>

}

<table class="table" id="t1">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Author</th>
        <th>Type</th>
        <th>Page Count</th>
        <th>Points</th>
        <th>Status</th>
        <th></th>
    </tr>

    @foreach (var dest in Model)
    {
        <tr>
            <td>@dest.ID</td>
            <td>@dest.Name</td>
            <td>@dest.Author</td>
            <td>@dest.Type</td>
            <td>@dest.PageCount</td>
            <td>@dest.Points</td>
            <td>@dest.Available</td>
            <td>@Html.ActionLink("View Book", "Me", "Home", new { id = dest.ID }, htmlAttributes: new { @class = "btn btn-primary" })</td>


        </tr>
    }

</table>

