@model IEnumerable<CDUDB1INF272.Models.DestinationModel>

@{
    ViewBag.Title = "Index";
}
<h1 class="display-4">Index</h1>
<h3>@ViewBag.Message</h3>



<table class="table">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Author</th>
        <th>Type</th>
        <th>Page Count</th>
        <th>Points</th>
        <th>Status</th>
        <th></th>
    </tr>

@foreach (var dest in Model) {
<tr>
    <td>@dest.ID</td>
    <td>@dest.Name</td>
    <td>@dest.Author</td>
    <td>@dest.Type</td>
    <td>@dest.PageCount</td>
    <td>@dest.Points</td>
    <td>function needed</td>
    <td>buttons</td>
    

</tr>
}

</table>
