@model CDUDB1INF272.Models.BorrowModel

@{
    ViewBag.Title = "MView";
}

<a href="@Url.Action("ViewStudent", "Home")" style="width:200px;position: relative; display:inline;left:850px;top:-3px;background-color:green;color:white;">Clear</a>

<h2>MView</h2>
<div>

    <h4>BorrowModel</h4>
    <hr />
    <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TakenDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TakenDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BroughtDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BroughtDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BorrowedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BorrowedBy)
                </dd>

            </dl>
        </div>

    
