@model IEnumerable<CDUDB1INF272.Models.Student>
@{
    ViewBag.Title = "ViewStudent";
}

<h2>Students</h2>
@using (Html.BeginForm("ComplexS", "Home", FormMethod.Post, new { style = "width:100%" }))
{
    <input type="text" style="width:200px;max-width:none; display:inline" name="studentname" class="form-control" />
    //<span>@Html.DropDownList("Classes")</span>


    //<input type="text" style="width:200px;max-width:none; display:inline" name="btype" class="form-control" placeholder="Type" required />
    //<input type="text" style="width:200px;max-width:none; display:inline" name="bauthor" class="form-control" placeholder="Author" required />

    <button type="submit" class="btn btn-success" style="width:200px;display:inline">Search</button>
    <button type="button" class="btn btn-danger" style="width:200px;display:inline" onclick="location.href='@Url.Action("ViewStudent", "Home")'">Clear</button>


}
@*<input type="text" style="width:200px;max-width:none; display:inline" name="studentname" class="form-control" />*@
@*<span>@Html.DropDownList("Classes")</span>*@

<table class="table" id="t1">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Class</th>
        <th>Points</th>
        <th></th>
    </tr>

    @foreach (var student in Model)
    {
<tr>
    <td>@student.ID</td>
    <td>@student.Name</td>
    <td>@student.Surname</td>
    <td>@student.CClass</td>
    <td>@student.Points</td>
    <td><button id="bbook"class="btn btn-primary" onclick="myFunction()">Borrow Book</button></td>
</tr>
    }

</table>

<script>
    const element = document.getElementById("bbook");
    element.addEventListener("click", myFunction);

    function myFunction() {

        document.getElementById("bbook").backgroundcolor = "blue";
        document.getElementById("bbook").textContent = "Return Book";
    }
</script>


